body {
    background-image: url('https://i.pinimg.com/originals/e3/eb/31/e3eb311af2c90bd23b9b44d4c8353aa9.gif');
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    height: 200vh; 
    margin: 0; 
}
body{
    font-family: FreeMono, monospace;
}
h1{
    font-family: FreeMono, monospace;    
}
.minha_foto {
    width: 25%;
    border: 5px #ffffff solid;
    box-sizing: border-box;
    display: block;
    margin: 20px auto 0 auto; 
    border-radius: 20em;
}
.espaco {
    text-align: center;
}
span{
    background: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 2px;
    padding: 5px;
    text-align: center; 
    font-family: FreeMono, monospace;
    font-size: large;
}

.main{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
}

.card{
    margin: 50px;
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 700px;
    border-radius: 10px;
    text-align: center;
}
.card>h1{
    padding-top: 1px;
}
.card>p{
    font-family: poppins;
}
.btn{
    font-size: 17;
    padding: 10px 50px;
    border: none;

}
.card>img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
